#logo {
	background-color: #777777 !important;
}

#logo img {
	height: 45px !important;
	width: 166px !important;
	max-width: 166px !important;
	margin-top:10px !important;
}

.layout-menu>li>a, .active-menu>li>a {
	line-height: 1.3em;
}

.layout-menu>li>a>i.fa, .menulink>i.fa {
	margin-top: 3px;
}


.ui-confirm-dialog-message {
	display: inline !important;
}

@media(max-width: 640px) {
	.ui-grid-responsive .ui-grid-row {
    	display: inline !important;
	}
}

.ui-messages-error,.ui-messages-info, .ui-messages-warning, .ui-messages-fatal  {
	padding-bottom: 20px !important;
	font-size: 14px !important;
}

.ui-messages-error {
	background-color: #f2dede !important;
}

.ui-messages-info {
	background-color: #d9edf7 !important;
}

.ui-messages-warning {
	background-color: #ffff80!important;
}

.ui-panelgrid {
	border: none !important;
}

.ui-selectonemenu, .ui-selectcheckboxmenu {
	padding: 0px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
	border-bottom: none !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-focus,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger.ui-state-focus {
	border-bottom: none !important;
}

.ui-outputlabel {
	font-weight: bold !important;
}

.ui-fluid .ui-calendar, .ui-fluid .ui-calendar input {
	width: 85% !important;
}

.ui-grid .ui-grid-row {
	height: 45px;
}