.ui-messages-error,.ui-messages-info, .ui-messages-warning, .ui-messages-fatal  {
	padding-bottom: 20px !important;
	font-size: 14px !important;
}

.ui-panelgrid {
	border: none !important;
}

.ui-selectonemenu, .ui-selectcheckboxmenu {
	padding: 0px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
	border-bottom: none !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-focus,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger.ui-state-focus {
	border-bottom: none !important;
}

.ui-outputlabel {
	font-weight: bold !important;
}

.ui-fluid .ui-calendar, .ui-fluid .ui-calendar input {
	width: 85% !important;
}

.ui-grid .ui-grid-row {
	height: 45px;
}