<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean name="applicationValidationMessagesResourceBundleLocator" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>application_domain_messages</value>
            </list>
        </property>
    </bean>

	<bean id="applicationHibernateValidatorFactory" class="org.ambar.core.validation.helpers.HibernateValidatorFactory">
		<property name="validationMessageSource" ref="applicationValidationMessagesResourceBundleLocator"/>
	</bean>

	<bean id="applicationHibernateValidators" class="org.ambar.core.validation.impl.ValidatorHibernateImpl"
			factory-bean="applicationHibernateValidatorFactory" factory-method="validatorFactory"/>

</beans>